<div class="p-3 h-full content-center">
  <div class="content-center rounded-md py-5 bg-teal-950">

    <div class="text-white m-3 content-center flex ">
      <p class="ps-4">User Name: </p>
      <p class="ps-4">User Name</p>
    </div>
    <hr class="mb-0 my-4 w-10/12 m-auto opacity-20">
    <div class="text-white m-3 content-center flex">
      <p class="ps-4">Email:</p>
      <p class="ps-4">Email</p>
    </div>
    <hr class="mb-0 my-4 w-10/12 m-auto opacity-20">
    <div class="text-white m-3 content-center flex">
      <p class="ps-4">City:</p>
      <p class="ps-4">City</p>
    </div>
    <hr class="mb-0 my-4 w-10/12 m-auto opacity-20">
    <div class="text-white m-3 content-center flex">
      <p class="ps-4">Country:</p>
      <p class="ps-4">Country</p>
    </div>
    <hr class="mb-0 my-4 w-10/12 m-auto opacity-20">
    <div class="text-white m-3 content-center flex">
      <p class="ps-4">Phone Number:</p>
      <p class="ps-4">01123711868</p>
    </div>
    <hr class="mb-0 my-4 w-10/12 m-auto opacity-20">
  </div>
</div>
