<div class="grid grid-cols-12 h-full">
  <div class="col-span-3 bg-teal-800 rounded-2xl my-2   m-auto" style="width: 97%;">
    <div class="pt-5">
      <div class="grid grid-rows-12 place-items-center">

        <div class="row-span-1 w-10/12 relative">
          <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-3.5">
            <svg class="shrink-0 size-4 text-gray-700" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="11" cy="11" r="8"></circle>
              <path d="m21 21-4.3-4.3"></path>
            </svg>
          </div>
          <input class="py-3 ps-10 pe-4 block w-full dark:bg-white dark:text-black border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" type="text" role="combobox" aria-expanded="false" placeholder="Search ..." value="" data-hs-combo-box-input="">
        </div>

        <div class="row-span-10 w-11/12 overflow-y-scroll overflow-x-hidden mt-5 px-1" style="height: 500px;">

          <div routerLink="/group/group-messages/1" class="overflow-hidden border rounded-md p-3 grid grid-cols-12 items-center cursor-pointer mb-2">
            <div class="col-span-12 flex justify-between items-center">
            <div class=" text-xs font-medium text-gray-50">Group Name</div>
            <div class=" text-center "  style="font-size: 10px;">
              <div class="bg-teal-950 py-1 px-2 ms-1 rounded-full text-white w-10/12 m-auto">99</div>
              <div class="opacity-90 text-gray-50">12:00pm</div>
            </div>
          </div>
            <div class="col-span-12 flex items-center">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <span class="text-white ms-2">....</span>
            </div>

          </div>

          <div routerLink="/group/group-messages/1" class="overflow-hidden border rounded-md p-3 grid grid-cols-12 items-center cursor-pointer mb-2">
            <div class="col-span-12 flex justify-between items-center">
            <div class=" text-xs font-medium text-gray-50">Group Name</div>
            <div class=" text-center "  style="font-size: 10px;">
              <div class="bg-teal-950 py-1 px-2 ms-1 rounded-full text-white w-10/12 m-auto">99</div>
              <div class="opacity-90 text-gray-50">12:00pm</div>
            </div>
          </div>
            <div class="col-span-12 flex items-center">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <span class="text-white ms-2">....</span>
            </div>

          </div>
          <div routerLink="/group/group-messages/1" class="overflow-hidden border rounded-md p-3 grid grid-cols-12 items-center cursor-pointer mb-2">
            <div class="col-span-12 flex justify-between items-center">
            <div class=" text-xs font-medium text-gray-50">Group Name</div>
            <div class=" text-center "  style="font-size: 10px;">
              <div class="bg-teal-950 py-1 px-2 ms-1 rounded-full text-white w-10/12 m-auto">99</div>
              <div class="opacity-90 text-gray-50">12:00pm</div>
            </div>
          </div>
            <div class="col-span-12 flex items-center">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <span class="text-white ms-2">....</span>
            </div>

          </div>
          <div routerLink="/group/group-messages/1" class="overflow-hidden border rounded-md p-3 grid grid-cols-12 items-center cursor-pointer mb-2">
            <div class="col-span-12 flex justify-between items-center">
            <div class=" text-xs font-medium text-gray-50">Group Name</div>
            <div class=" text-center "  style="font-size: 10px;">
              <div class="bg-teal-950 py-1 px-2 ms-1 rounded-full text-white w-10/12 m-auto">99</div>
              <div class="opacity-90 text-gray-50">12:00pm</div>
            </div>
          </div>
            <div class="col-span-12 flex items-center">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <span class="text-white ms-2">....</span>
            </div>

          </div>
          <div routerLink="/group/group-messages/1" class="overflow-hidden border rounded-md p-3 grid grid-cols-12 items-center cursor-pointer mb-2">
            <div class="col-span-12 flex justify-between items-center">
            <div class=" text-xs font-medium text-gray-50">Group Name</div>
            <div class=" text-center "  style="font-size: 10px;">
              <div class="bg-teal-950 py-1 px-2 ms-1 rounded-full text-white w-10/12 m-auto">99</div>
              <div class="opacity-90 text-gray-50">12:00pm</div>
            </div>
          </div>
            <div class="col-span-12 flex items-center">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <span class="text-white ms-2">....</span>
            </div>

          </div>
          <div routerLink="/group/group-messages/1" class="overflow-hidden border rounded-md p-3 grid grid-cols-12 items-center cursor-pointer mb-2">
            <div class="col-span-12 flex justify-between items-center">
            <div class=" text-xs font-medium text-gray-50">Group Name</div>
            <div class=" text-center "  style="font-size: 10px;">
              <div class="bg-teal-950 py-1 px-2 ms-1 rounded-full text-white w-10/12 m-auto">99</div>
              <div class="opacity-90 text-gray-50">12:00pm</div>
            </div>
          </div>
            <div class="col-span-12 flex items-center">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <span class="text-white ms-2">....</span>
            </div>

          </div>
          <div routerLink="/group/group-messages/1" class="overflow-hidden border rounded-md p-3 grid grid-cols-12 items-center cursor-pointer mb-2">
            <div class="col-span-12 flex justify-between items-center">
            <div class=" text-xs font-medium text-gray-50">Group Name</div>
            <div class=" text-center "  style="font-size: 10px;">
              <div class="bg-teal-950 py-1 px-2 ms-1 rounded-full text-white w-10/12 m-auto">99</div>
              <div class="opacity-90 text-gray-50">12:00pm</div>
            </div>
          </div>
            <div class="col-span-12 flex items-center">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <span class="text-white ms-2">....</span>
            </div>

          </div>
          <div routerLink="/group/group-messages/1" class="overflow-hidden border rounded-md p-3 grid grid-cols-12 items-center cursor-pointer mb-2">
            <div class="col-span-12 flex justify-between items-center">
            <div class=" text-xs font-medium text-gray-50">Group Name</div>
            <div class=" text-center "  style="font-size: 10px;">
              <div class="bg-teal-950 py-1 px-2 ms-1 rounded-full text-white w-10/12 m-auto">99</div>
              <div class="opacity-90 text-gray-50">12:00pm</div>
            </div>
          </div>
            <div class="col-span-12 flex items-center">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <span class="text-white ms-2">....</span>
            </div>

          </div>
          <div routerLink="/group/group-messages/1" class="overflow-hidden border rounded-md p-3 grid grid-cols-12 items-center cursor-pointer mb-2">
            <div class="col-span-12 flex justify-between items-center">
            <div class=" text-xs font-medium text-gray-50">Group Name</div>
            <div class=" text-center "  style="font-size: 10px;">
              <div class="bg-teal-950 py-1 px-2 ms-1 rounded-full text-white w-10/12 m-auto">99</div>
              <div class="opacity-90 text-gray-50">12:00pm</div>
            </div>
          </div>
            <div class="col-span-12 flex items-center">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <img src="profile.png" width="30px" alt="profile" class="rounded-full border">
              <span class="text-white ms-2">....</span>
            </div>

          </div>


        </div>

        <div routerLink="/group" class="row-span-1 pt-3">
          <button class="my-0 bg-teal-950 rounded-md p-2 px-3 text-gray-50 hover:text-teal-950 hover:bg-gray-50">
              Show All Groups
          </button>
        </div>

      </div>

    </div>
  </div>

  <div class="col-span-9 bg-teal-800 rounded-2xl my-1  m-auto" style="width: 97%;"><router-outlet></router-outlet></div>
  </div>
