 <div class="bg-emerald-800 rounded-2xl p-3 pt-4 h-full  m-auto">
  <div class="flex justify-between bg-green-950 p-3 rounded-md items-center">
    <div class="flex gap-1 items-center">
      <img src="profile.png" width="40px" class="rounded-full border " alt="">
      <p class="text-sm text-white">Receiver Name</p>
    </div>
    <div class="items-center text-white cursor-pointer">
      <mat-icon fontIcon="more_vert"></mat-icon>
    </div>
  </div>

  <div class="flex justify-between bg-green-950 p-3 rounded-md items-center h-4/5 my-1">
    <div class="flex gap-1 items-center">
      <img src="profile.png" width="40px" class="rounded-full border " alt="">
      <p class="text-sm text-white">Receiver Name</p>
    </div>
    <div class="items-center text-white">
      <mat-icon fontIcon="list"></mat-icon>
    </div>
  </div>

  <div class="flex justify-evenly bg-green-950 p-3 rounded-md items-center">
    <div class="items-center text-white">
      <mat-icon fontIcon="add"></mat-icon>
    </div>
    <div class="flex gap-1 items-center w-10/12">
      <input class="w-full py-2 rounded-md px-2" type="text">
    </div>
    <div class="items-center text-white">
      <mat-icon fontIcon="send" class="me-2"></mat-icon>
      <mat-icon fontIcon="mic"></mat-icon>
    </div>
  </div>
</div>
