<div class="bg-gray-50 grid grid-cols-12 w-full  h-full">
  <div class="col-span-1 main-component w-5/6 rounded-2xl m-auto">
    <div class="my-3 grid grid-rows-10 h-full">
      <div class="row-span-1">

          <div role="button" class=" place-items-center">
            <img src="profile.png" class="border rounded-full p-2 border-e-sky-100" width="60px" alt="">
          </div>

      </div>

      <div class="row-span-8 self-center">

        <div role="button" routerLink="" class="icon-background rounded-2xl py-3 hover:animate-pulse icon-background text-white text-center" >
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="text-2xl" fontIcon="chat"></mat-icon>
        </div>

        <div role="button" routerLink="/group" class="rounded-2xl py-3 hover:animate-pulse icon-background text-white text-center">
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="text-2xl" fontIcon="groups"></mat-icon>
        </div>

        <div role="button" routerLink="/setting" class="rounded-2xl py-3 hover:animate-pulse icon-background text-white text-center">
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="text-2xl" fontIcon="manage_accounts"></mat-icon>
        </div>

      </div>

      <div class="row-span-1">
        <div role="button" class="rounded-2xl py-3 hover:animate-pulse icon-background hover:text-white text-center" (click)="openDialog()">
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="text-2xl text-white" fontIcon="logout"></mat-icon>
      </div>

    </div>
    </div>
  </div>
  <div class="col-span-11"><router-outlet></router-outlet></div>
</div>
