<div class="grid grid-cols-12 h-full">
  <div class="col-span-3 bg-teal-800 rounded-2xl my-2 m-auto" style="width: 97%;">
    <div class="pt-5 content-center">

      <div class="m-2">
        <div class="content-center rounded-md py-5 bg-teal-950">
          <img src="profile.png" width="40%"  class="rounded-full m-auto mb-5" alt="">
          <div class="text-white m-3 text-center">
            <p class="ps-1">User Name</p>
          </div>
          <div class="text-white m-3 mt-5 p-2 px-3 pt-5 rounded-full bg-teal-900 content-center inline cursor-pointer">
            <mat-icon fontIcon="photo_camera" ></mat-icon>
          </div>
        </div>
      </div>

      <div class="m-2">
        <div class="content-center rounded-md py-5 bg-teal-950">
          <div class="text-white m-3 p-2 px-3 pt-5 rounded-full bg-teal-900 content-center inline cursor-pointer" routerLink="/setting/edit-profile">
            <mat-icon fontIcon="edit" ></mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-span-9 bg-teal-800 rounded-2xl my-1  m-auto" style="width: 97%;"><router-outlet></router-outlet></div>
  </div>
