
<div class="p-3 h-full content-center">
  <form class="grid grid-cols-12 gap-3">
    <div class="col-span-6">
      <p-floatLabel>
        <input id="username"  name="username" type="text" class="rounded-md w-12/12" pInputText [(ngModel)]="value" />
    </p-floatLabel>
    </div>
    <div class="col-span-6">
      <p-floatLabel >
        <input id="username"  name="username" type="text" class="rounded-md" pInputText [(ngModel)]="value" />
        <label for="username" class="text-black">City</label>
    </p-floatLabel>
    </div>
    <div class="col-span-6">
      <p-floatLabel >
        <input id="username"  name="username" type="text" class="rounded-md" pInputText [(ngModel)]="value" />
        <label for="username" class="text-black">Country</label>
    </p-floatLabel>

    </div>
    <div class="col-span-6">
      <p-floatLabel >
        <input id="username"  name="username" type="text" class="rounded-md" pInputText [(ngModel)]="value" />
        <label for="username" class="text-black">Phone Number</label>
    </p-floatLabel>
    </div>
    <div class="col-span-12">
      <textarea
          rows="5"
          cols="30"
          pInputTextarea>
      </textarea>
  </div>
  </form>

</div>
