<div class="grid grid-cols-12 h-full">
<div class="col-span-3 bg-emerald-700 rounded-2xl my-2   m-auto" style="width: 97%;">
  <div class="pt-5">
    <div class="grid grid-rows-12 place-items-center">

      <div class="row-span-1 w-10/12 relative">
        <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-3.5">
          <svg class="shrink-0 size-4 text-gray-700" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
          </svg>
        </div>
        <input class="py-3 ps-10 pe-4 block w-full dark:bg-white dark:text-black border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" type="text" role="combobox" aria-expanded="false" placeholder="Search ..." value="" data-hs-combo-box-input="">
      </div>

      <div class="row-span-11 w-11/12 h-5/6 overflow-y-scroll overflow-x-hidden px-1">

        <div class="border rounded-md p-3 grid grid-cols-12 items-center cursor-pointer mb-2">
          <div class="col-span-1"><img src="profile.png" width="50px" alt="profile" class="rounded-full border"></div>
          <div class="col-span-9"><div class="ps-1 text-xs">message message message</div></div>
          <div class="col-span-2 text-center "  style="font-size: 10px;">
            <div class="bg-green-950 py-1 px-2 ms-1 rounded-full text-white w-10/12 m-auto">99</div>
            <div class="font-semibold opacity-35">12:00pm</div>
          </div>
        </div>
        <div class="border rounded-md p-3 grid grid-cols-12 items-center cursor-pointer mb-2">
          <div class="col-span-1"><img src="profile.png" width="50px" alt="profile" class="rounded-full border"></div>
          <div class="col-span-9"><div class="ps-1 text-xs">message message message</div></div>
          <div class="col-span-2 text-center "  style="font-size: 10px;">
            <div class="bg-green-950 py-1 px-2 ms-1 rounded-full text-white w-10/12 m-auto">99</div>
            <div class="font-semibold opacity-35">12:00pm</div>
          </div>
        </div>
        <div class="border rounded-md p-3 grid grid-cols-12 items-center cursor-pointer mb-2">
          <div class="col-span-1"><img src="profile.png" width="50px" alt="profile" class="rounded-full border"></div>
          <div class="col-span-9"><div class="ps-1 text-xs">message message message</div></div>
          <div class="col-span-2 text-center "  style="font-size: 10px;">
            <div class="bg-green-950 py-1 px-2 ms-1 rounded-full text-white w-10/12 m-auto">99</div>
            <div class="font-semibold opacity-35">12:00pm</div>
          </div>
        </div>
        <div class="border rounded-md p-3 grid grid-cols-12 items-center cursor-pointer mb-2">
          <div class="col-span-1"><img src="profile.png" width="50px" alt="profile" class="rounded-full border"></div>
          <div class="col-span-9"><div class="ps-1 text-xs">message message message</div></div>
          <div class="col-span-2 text-center "  style="font-size: 10px;">
            <div class="bg-green-950 py-1 px-2 ms-1 rounded-full text-white w-10/12 m-auto">99</div>
            <div class="font-semibold opacity-35">12:00pm</div>
          </div>
        </div>
        <div class="border rounded-md p-3 grid grid-cols-12 items-center cursor-pointer mb-2">
          <div class="col-span-1"><img src="profile.png" width="50px" alt="profile" class="rounded-full border"></div>
          <div class="col-span-9"><div class="ps-1 text-xs">message message message</div></div>
          <div class="col-span-2 text-center "  style="font-size: 10px;">
            <div class="bg-green-950 py-1 px-2 ms-1 rounded-full text-white w-10/12 m-auto">99</div>
            <div class="font-semibold opacity-35">12:00pm</div>
          </div>
        </div>
        <div class="border rounded-md p-3 grid grid-cols-12 items-center cursor-pointer mb-2">
          <div class="col-span-1"><img src="profile.png" width="50px" alt="profile" class="rounded-full border"></div>
          <div class="col-span-9"><div class="ps-1 text-xs">message message message</div></div>
          <div class="col-span-2 text-center "  style="font-size: 10px;">
            <div class="bg-green-950 py-1 px-2 ms-1 rounded-full text-white w-10/12 m-auto">99</div>
            <div class="font-semibold opacity-35">12:00pm</div>
          </div>
        </div>
        <div class="border rounded-md p-3 grid grid-cols-12 items-center cursor-pointer mb-2">
          <div class="col-span-1"><img src="profile.png" width="50px" alt="profile" class="rounded-full border"></div>
          <div class="col-span-9"><div class="ps-1 text-xs">message message message</div></div>
          <div class="col-span-2 text-center "  style="font-size: 10px;">
            <div class="bg-green-950 py-1 px-2 ms-1 rounded-full text-white w-10/12 m-auto">99</div>
            <div class="font-semibold opacity-35">12:00pm</div>
          </div>
        </div>
        <div class="border rounded-md p-3 grid grid-cols-12 items-center cursor-pointer mb-2">
          <div class="col-span-1"><img src="profile.png" width="50px" alt="profile" class="rounded-full border"></div>
          <div class="col-span-9"><div class="ps-1 text-xs">message message message</div></div>
          <div class="col-span-2 text-center "  style="font-size: 10px;">
            <div class="bg-green-950 py-1 px-2 ms-1 rounded-full text-white w-10/12 m-auto">99</div>
            <div class="font-semibold opacity-35">12:00pm</div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="col-span-9 my-1" style="width: 97%;"><router-outlet></router-outlet></div>
</div>
