/* width */
::-webkit-scrollbar {
  width: 2px !important;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(36, 36, 36);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ececec;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3c3c3c;
}
