<div class="bg-teal-800 rounded-2xl p-3 pt-4 h-full  m-auto">
  <div class="flex justify-between bg-teal-950 p-3 rounded-md items-center">
    <div class="flex gap-1 items-center">
      <img src="profile.png" width="40px" class="rounded-full border " alt="">
      <p class="text-sm text-white">Receiver Name</p>
    </div>
    <div class="items-center text-white cursor-pointer">
      <mat-icon mat-button [matMenuTriggerFor]="menu" fontIcon="more_vert"></mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </div>
  </div>

  <div class=" bg-teal-950 p-3 rounded-md items-center h-4/5 my-1">
    <div class="message text-white bg-gray-100 bg-opacity-50 p-2 my-1 rounded-md float-end flex items-center">
      <mat-icon fontIcon="arrow_downward" mat-button [matMenuTriggerFor]="messageMenu" role="button" class="text-base message-setting" ></mat-icon>
      <span >message message message message message message message message message message
      </span>
      <span class="text-xs ms-2">12:00</span>
    </div>
    <div class="message text-white bg-teal-700 p-2 my-1 rounded-md float-start flex items-center">
      <mat-icon fontIcon="arrow_downward" mat-button [matMenuTriggerFor]="messageMenu" role="button" class="text-base message-setting" ></mat-icon>
      <span >
       message message message message message message
      </span>
      <span class="text-xs ms-1">12:00</span>
    </div>
    <mat-menu #messageMenu="matMenu">
      <button mat-menu-item>Delete</button>
    </mat-menu>
  </div>

  <form class="flex justify-evenly bg-teal-950 p-3 rounded-md items-center">
    <div class="items-center text-white">
      <input
    #fileInput
    type="file"
    class="hidden"
    (change)="onFileSelected($event)"
  />
      <mat-icon fontIcon="attach_file" role="button" (click)="fileInput.click()"></mat-icon>

    </div>
    <div class="flex gap-1 items-center w-10/12">
      <input class="w-full py-2 rounded-md px-2 dark:bg-white" type="text">
    </div>
    <div class="items-center text-white">
      <mat-icon role="button" fontIcon="send" class="me-2"></mat-icon>
      <mat-icon role="button" fontIcon="mic"></mat-icon>
    </div>
  </form>
</div>
